[Matrix Definition]
N=72
K=64
maxWeight=5

[MCTS Settings]
exploreCoeff=2.0

[Search Settings]
numSearches=200
heatingRate=1.075
heatingColumnLimit=42
numGames=1

[Optimizations]
enableActionSpaceSplitting=true
splittingCol=28
leftWeight=3
rightWeight=5

enableHighscore=false

[Logging Settings]
enableSharedMemory=true
enableVerbatim=false

[Parallel Settings]
numThreads=1